{% extends "pizzas/base.html" %}
{% block page_header %}

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>

    <p class="lead">Create a pizza, edit toppings, and comment on pizzas.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'pizzas:new_pizza' %}" role="button">Create Pizza 
        &raquo;</a>
</div>

{% endblock page_header %}

{% block content %}

<p>
    <img class="img-responsive" src="https://pngimg.com/uploads/pizza/pizza_PNG44075.png">
</p>

{% endblock content %}